body {
    //background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #303030;
    }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  layout{
    
  }

  table,tr,td{
     border : 1px solid;
     overflow-wrap: break-word;
    color:gray;
  }

  .center{
    margin-left:auto;
    margin-right:auto;
    


  }

  
  